@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Oswald", sans-serif;
}

/*-------------------HEADER--------------------*/

.header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
}

/*---------MENU---------*/

.menu {
    display: block;
    width: 100%;
    background-color: #000000;
}

.menu nav {
    display: flex;
    flex-wrap: no-wrap;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}

.menu1 {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: 0.3s;
}

.menu1:hover {
    color: #fffb00;
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: 6px;
    transition-duration: 0.3s;
}

/*-----------BURGER_MENU----------*/

.burgerMenu {
    display: none;
}

/*---------------------HOME--------------------*/

.home {
    display: block;
    margin-top: 40px;
    background-image: url("./img/background_image.jpg");
    padding-bottom: 80px;
}

/*-----------BIOG----------*/

.biog {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 30px;
}

.biog h1 {
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 80px;
}

.bioImage {
    display: block;
    width: 40%;
    padding-top: 80px;
}

.bioImage img {
    display: block;
    margin: auto;
    width: 286px;
    height: 286px;
    border-radius: 250px;
}

.bioText {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: 10%;
    background-color: #000000;
    padding: 10px;
    margin-bottom: 80px;
}

.bioText p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2em;
}

/*----------SKILLS----------*/

.skills {
    display: block;
    width: 100%;
}

.skills h1 {
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 50px;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 80px;
}

.logos img {
    width: 150px;
    height: 150px;
    padding: 50px;
}

#downloadButton {
    display: block;
    color: #ffffff;
    background-color: #aa0000;
    width: fit-content;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 50px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: auto;
    transition-duration: 0.3s;
}

#downloadButton:hover {
    background-color: #d0ff00;
    color: #000000;
    transition-duration: 0.3s;
}

/*--------------------FOOTER--------------------*/

.footer {
    display: block;
    width: 100%;
    background-color: #000000;
}

.footer h1 {
    color: #ffffff;
    font-size: 12px;
    padding: 20px 50px 20px;
    margin: 0;
}

/*---------------------PROJECTS--------------------*/

.projectsPage {
    display: block;
    margin-top: 40px;
    background-image: url("./img/background_image.jpg");
    padding-bottom: 80px;
}

.projectsPage h1 {
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: 900;
    padding-top: 50px;
    margin-bottom: 80px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    margin: auto;
}

/*----------SINGLE_PROJECT----------*/

.singleProject {
    display: block;
    background-color: #2e2e2e;
    width: fit-content;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 40px;
}

.imageContainer {
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
    overflow: hidden;
}

.imageContainer:hover .image {
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.image {
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-position: center;
    background-size: cover;
    transition-duration: 0.3s;
}

.image::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.575);
}
  
.imageContainer:hover .image:before {
    display: block;
}

.image span {
    display: none;
    color: #ffffff;
    position: absolute;
    padding: 32%;
    padding-top: 45%;
}

.imageContainer:hover .image span {
    display: block;
}

#technicalChallenge {
    background-image: url("./img/technical_challenge_image.JPG");
}

#fabianLarries {
    background-image: url("./img/fabianlarries_image.JPG");
}

#kantenya {
    background-image: url("./img/kantenya_image.JPG");
}

#weather {
    background-image: url("./img/weather_image.JPG");
}

#eye {
    background-image: url("./img/eye_image.JPG");
}

#todo {
    background-image: url("./img/todo_image.JPG");
}

#calculator {
    background-image: url("./img/calculator_image.JPG");
}

.nameProject {
    display: block !important;
    color: #ffffff;
    font-size: 25px !important;
    padding-top: 10px !important;
    padding-bottom: 30px !important;
    margin-bottom: 0 !important;
}

.codeButton {
    display: block;
    width: fit-content;
    margin: auto;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    background-color: #ff0000;
    padding: 10px 30px;
    text-align: center;
    border: 1px #000000 solid;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.codeButton:hover {
    background-color: #fffb00;
    color: #000000;
    transition-duration: 0.3s;
}

@media only screen and (max-width: 1000px) {

    /*--------------------HEADER--------------------*/

    /*---------MENU----------*/

    .menu nav {
        width: 65%;
    }
}

@media only screen and (max-width: 760px) {

    /*---------------------HEADER---------------------*/

    /*----------MENU----------*/

    .menu nav {
        width: 80%;
    }

    /*--------------------HOME-------------------*/

    /*----------BIOG----------*/

    .bioImage {
        margin-left: 10px;
    }

    .bioImage img {
        width: 230px;
        height: 230px;
    }

    .bioText {
        margin-right: 10px;
        clear: both;
    }

    /*----------SKILLS----------*/

    .logos img {
        width: 120px;
        height: 120px;
        padding: 30px;
    }

    /*---------------------PROJECTS--------------------*/

    .projects {
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {

    /*----------------------HEADER--------------------*/

    /*----------MENU----------*/

    .menu {
        display: none;
    }

    /*----------BURGER_MENU----------*/

    .burgerMenu {
        display: block;
        background-color: #000000;
        width: 100%;
        position: fixed;
        width: 100%;
        height: 40px;
        z-index: 15;
    }

    .burgerButton {
        display: block;
        width: fit-content;
        margin: auto;
        margin-top: 11px;
        transition-duration: 1s;
    }

    #burgerOpen {
        transform: rotate(360deg);
        transition-duration: 1s;
    }

    .burgerButton div {
        display: block;
        width: fit-content;
        padding: 1.5px 15px;
        margin-bottom: 5px;
        background-color: #ffffff;
    }

    /*----------HIDDEN_MENU----------*/

    .hidden_menu {
        display: block;
        width: 200px;
        background-color: #000000;
        position: absolute;
        top: 50px;
    }

    #hidden_menu_open {
        right: 10px;
        transition-duration: 1s;
    }

    #hidden_menu_closed {
        right: 500px;
        transition-duration: 1s;
    }

    .hidden_menu nav {
        display: block;
        width: 190px;
        margin: auto;
        padding: 5px;
        text-align: center;
    }

    .menu2 {
        display: block;
        background-color: #222222;
        padding: 20px 0 20px 5px;
        color: #ffffff;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .sel2 {
        color: #fffb00;
    }

    /*--------------------HOME-------------------*/

    /*----------BIOG----------*/
    
    .biog h1 {
        margin-bottom: 40px;
    }
    
    .bioImage {
        display: block;
        width: 90%;
        margin: auto;
        padding-top: 0;
        margin-bottom: 40px;
    }
    
    .bioImage img {
        width: 286px;
        height: 286px;
    }
    
    .bioText {
        display: block;
        width: 90%;
        margin: auto;
        margin-bottom: 80px;
    }

    /*----------SKILLS----------*/

    .logos img {
        width: 100px;
        height: 100px;
        padding: 20px;
    }

    /*---------------------PROJECTS--------------------*/

    .projects {
        width: 100%;
    }
}